{% extends "base.html" %}
{% block titulo %}
<link rel="shortcut icon" href="https://pre00.deviantart.net/91aa/th/pre/i/2017/104/2/2/rick_and_morty__by_wazzaldorp-db5tayc.png" />
<title>Episodio {{datos["id"]}}:{{datos["name"]}}</title>
{% endblock %}
{% block contenido %}
	<header>
		<h1 id="titulo">{{datos["name"]}}:</h1>
	</header>
	<div class="row">
		<div class="4u 12u(mobile)">
		</div>
		<div class="4u 12u(mobile)">
			<p>
				<strong>Lanzamiento:</strong>{{datos["air_date"]}}
			</p>
			<h1 id="titulo_general"><strong>Personajes:</strong></h1>
			<p id="contenido_general">
				{% for a in epiurl %}
					<br/>
					<a href="/personajes/{{a[1]}}">{{a[0]}}</a>
				{% endfor %}
			</p>
		</div>
	</div>
{% endblock %}