{% extends "base.html" %}
{% block titulo %}
<link rel="shortcut icon" href="https://pre00.deviantart.net/91aa/th/pre/i/2017/104/2/2/rick_and_morty__by_wazzaldorp-db5tayc.png" />
<title>Personajes</title>
{% endblock %}
{% block contenido %}
	<article class="box post">
		<header>
			<h1 id="titulo">Personajes</h1>
		</header>
		{% for a in nombre_id_2 %}
			<a id="contenido_general" href="{{url_for('personaje_individual',id=a[1])}}">{{a[0]}}</a>
			<br/>
		{% endfor %}							
	</article>
{% endblock %}